$color-black: #000000;

$color-white: #FFFFFF;
$color-gray-10: #F1F2F2;
$color-gray-20: #E5E5E5;
$color-gray-30: #A2A2A2;
$color-gray-40: #707272;

$color-red: #FF0D26;
$color-orange: #FF7300;

$color-blue-gray-50: #51596C;
