
i {
    &.zippy-cash-icon {
        &.zc-cross::after {
            -webkit-mask-image: url("../assets/img/icons/cross.svg");
            mask-image: url("../assets/img/icons/cross.svg");  
            width: 18px;
            height:  18px;
            margin-top: -5px;     
        }
    }     
}