@import './colors';

.status-list {
  font-style: normal;
  font-size: 12px;
  color: $color-black;

  .transaction-search {
    display: flex;
    position: relative;

    .zippy-cash-icon {
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 15px;

      &:after {
        background-color: $color-dark-gray;
        width: 16px;
        height: 16px;
      }
    }

    input {
      background: $color-background;
      border-radius: 30px;
      border: none;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      color: $color-dark-gray;
      order: 0;
      flex-grow: 0;
      margin: 0;
      padding: 14px 18px 14px 40px;

      &::placeholder{
        color: $color-gray-30;
      }

      &:focus {
        box-shadow: none;
      }
    }
  }

  .status-list-container {
    width: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    height: 400px;

    .simplebar-container {
      width: 100%;
      height: 100%;

      .simplebar-track {
        right: -15px;
      }
    }

    .transaction-items {
      width: 100%;
      min-width: 100%;
      --bs-gutter-x: 0;
      --bs-gutter-y: 0;
      padding: 15px 10px;
      border-bottom: 1px solid $color-gray-10;
      cursor: pointer;
      display: block;

      &:visited,
      &:link {
        color: inherit;
        text-decoration: none;
      }

      &:hover {
        background-color: rgba(255, 115, 0, 0.2);
        border-radius: 7px;
        border-bottom: 1px solid transparent;
      }

      .row {
        width: 100%;
        min-width: 100%;
        --bs-gutter-x: 0;
        --bs-gutter-y: 0;
      }

      .col-5 {
        display: flex;
        justify-content: flex-end;
        vertical-align: center;
        text-align: right;
      }

      .status-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        .zippy-cash-icon:after {
          width: 22px;
          height: 22px;
        }
      }

      .name {
        padding-left: 10px;
        font-weight: 500;
      }

      .amount {
        font-weight: 600;
        font-size: 12px !important;
        padding: 0 5px 0 0 !important;
        margin: 0 !important;
      }

      .reference-no {
        padding-left: 10px;
        font-weight: normal;
        color: $color-dark-gray;
        text-decoration: underline;
      }

      .date {
        font-weight: normal;
        display: flex;
        padding: 0 10px 0 0 !important;
        margin: 0 !important;
      }

      .info-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        .zippy-cash-icon:after {
          width: 17px;
          height: 17px;
        }
      }
    }
  }
}
